<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}">
    <title>admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap-clearmin.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/roboto.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/material-design.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/small-n-flat.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/font-awesome.min.css}">
</head>
<body class="cm-no-transition cm-1-navbar">
<div id="cm-menu">
    <nav class="cm-navbar cm-navbar-primary">
        <div class="cm-flex"><a href="/admin/index" class="cm-logo"></a></div>
        <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
    </nav>
    <div id="cm-menu-content">
        <div id="cm-menu-items-wrapper">
            <div id="cm-menu-scroller">
                <ul class="cm-menu-items">
                    <li><a href="/admin/index" class="sf-house">主页</a></li>
                    <li class="cm-submenu" th:if="${session.admin.role == 1 || session.admin.role == 2}">
                        <a class="sf-brick">先建后补项目<span class="caret"></span></a>
                        <ul>
                            <li><a href="/admin/bulletin?sourceId=1">公告设置</a></li>
                            <li><a href="/admin/xjhbProject?pageNumber=1">项目管理</a></li>
                            <li><a href="/admin/xjhbApply?pageNumber=1">申请书管理</a></li>
                            <li><a href="/admin/xjhbCheck?pageNumber=1">待验收管理</a></li>
                            <li><a href="/admin/xjhbAdopt?pageNumber=1">验收通过查看</a></li>
                        </ul>
                    </li>
                    <li class="cm-submenu" th:if="${session.admin.role == 1 || session.admin.role == 3}">
                        <a class="sf-globe">农业保险项目<span class="caret"></span></a>
                        <ul>
                            <li><a href="/admin/bulletin?sourceId=2">公告设置</a></li>
                            <li><a href="/admin/bxProject?pageNumber=1">保险项目管理</a></li>
                            <li><a href="/admin/bxAudit?pageNumber=1&poverty=3">购买申请审核</a></li>
                            <li class="active"><a href="#">缴费验收</a></li>
                            <li><a href="/admin/bxClaims?pageNumber=1">理赔申请审核</a></li>
                        </ul>
                    </li>
                    <li><a href="/admin/login" class="sf-lock-open">退出登录</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<header id="cm-header">
    <nav class="cm-navbar cm-navbar-primary">
        <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
        <div class="cm-flex">
            <h1>购买保险申请管理</h1>
        </div>
        <div class="dropdown pull-right">
            <button class="btn btn-primary md-account-circle-white" data-toggle="dropdown"></button>
            <ul class="dropdown-menu">
                <li class="disabled text-center">
                    <a style="cursor:default;"><strong th:text="${session.admin.username}"></strong></a>
                </li>
                <li class="divider"></li><!--下划线 -->
                <li>
                    <a href="/admin/message"><i class="fa fa-fw fa-cog"></i> 信息设置</a>
                </li>
                <li>
                    <a href="/admin/login"><i class="fa fa-fw fa-sign-out"></i> 退出</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div id="global">
    <div class="container-fluid cm-container-white" style="margin-top:0;height:875px;">
        <!-- 表格 -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">缴费验收管理</div>
                    <div class="panel-body">
                        <form class="form-inline" action="/admin/bxCheck">
                            <label for="cost" class="control-label">是否缴费：</label>
                            <select class="form-control" name="cost" id="cost">
                                <option value="3">不限</option>
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                            <input type="hidden" th:value="${pageInfo.pageNum}" name="pageNumber" id="pageNumber"/>
                            <div class="form-group">
                                <label for="personName">&nbsp;&nbsp;&nbsp;申请人:&nbsp;</label>
                                <input type="text" placeholder="请输入申请人名字..." name="personName" th:value="${personName}" class="form-control" id="personName">
                            </div>
                            <div class="form-group">
                                <label for="personName">&nbsp;&nbsp;&nbsp;项目名称:&nbsp;</label>
                                <input type="text" id="selectName" name="name" th:value="${name}" placeholder="输入需要查询的项目名称...">
                            </div>
                            <div class="form-group">
                                <label for="idCard">&nbsp;&nbsp;&nbsp;身份证号:&nbsp;</label>
                                <input type="text" th:value="${idCard}" name="idCard" placeholder="请输入身份证号..." id="idCard">
                            </div>
                            <button type="submit" class="btn btn-primary" id="selectSub">查询</button>
                        </form>
                    </div>
                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th >#</th>
                            <th class="text-center">名称</th>
                            <th class="text-center">数量</th>
                            <th class="text-center">单价</th>
                            <th class="text-center">总价</th>
                            <th class="text-center">联系电话</th>
                            <th class="text-center">申请人</th>
                            <th class="text-center">身份证号码</th>
                            <th class="text-center">申请时间</th>
                            <th class="text-center"><code>操作</code></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="success" th:each="check:${pageInfo.list}">
                            <th scope="row" th:text="${checkStat.index+1}"></th>
                            <td th:text="${check.projectName}"></td>
                            <td th:text="${check.buyNumber}"></td>
                            <td th:text="${check.cost}"></td>
                            <td th:text="${check.totalPrice}"></td>
                            <td th:text="${check.telphone}"></td>
                            <td th:text="${check.personName}"></td>
                            <td th:text="${check.identity}"></td>
                            <td th:text="${#dates.format(check.createTime,'yyyy-MM-dd')}"></td>
                            <!--状态-->
                            <td th:if="${check.payCost == 0}">
                                <button type="button" disabled class="btn btn-warning btn-xs">&nbsp;&nbsp;待缴费&nbsp;&nbsp;</button>
                            </td>
                            <td th:if="${check.payCost == 2}">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="false">&nbsp;&nbsp;待验证&nbsp;&nbsp;<span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu" style="width:50px">
                                        <li><a href="#" th:value="${check.id+',1'}" onclick="status(this)">已缴费</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#" th:value="${check.id+',0'}" onclick="status(this)">未缴费</a></li>
                                    </ul>
                                </div>
                            </td>
                            <td th:if="${check.payCost == 1}">
                                <button type="button" disabled class="btn btn-success btn-xs">&nbsp;&nbsp;已缴费&nbsp;&nbsp;</button>
                            </td>
                        </tr>
                        <tr th:if="${pageInfo.pages <= 0}">
                            <th colspan="0" class="text-center">无数据</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- 分页 -->
        <nav class="text-center">
            <ul class="pagination shadowed" style="margin:0">
                <li th:if="${pageInfo.prePage > 0}">
                    <a th:href="@{'/admin/bxCheck?pageNumber='+${pageInfo.prePage}+'&name='+${name}+'&personName='+${personName}+'&idCard='+${idCard}+'&cost='+${cost}}">
                        <span><i class="fa fa-angle-left"></i></span>
                    </a>
                </li>
                <li th:if="${pageInfo.prePage <= 0 && pageInfo.pages > 0}">
                    <a>
                        <span><i class="fa fa-angle-left"></i></span>
                    </a>
                </li>
                <li th:each="num:${pages}">
                    <a th:if="${pageInfo.pageNum == num}" th:text="${num}" class="addActive"></a>
                    <a th:href="@{'/admin/bxCheck?pageNumber='+${num}+'&name='+${name}+'&personName='+${personName}+'&idCard='+${idCard}+'&cost='+${cost}}" th:if="${pageInfo.pageNum != num}" th:text="${num}" class="pageHref"></a>
                </li>
                <li th:if="${pageInfo.nextPage <= 0 && pageInfo.pages > 0}">
                    <a>
                        <span><i class="fa fa-angle-right"></i></span>
                    </a>
                </li>
                <li th:if="${pageInfo.nextPage > 0}">
                    <a th:href="@{'/admin/bxCheck?pageNumber='+${pageInfo.nextPage}+'&name='+${name}+'&personName='+${personName}+'&idCard='+${idCard}+'&cost='+${cost}}">
                        <span><i class="fa fa-angle-right"></i></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <footer class="cm-footer"><span class="pull-left">彩笔码农 在线码字</span><span class="pull-right">&copy; 930926134@qq.com</span></footer>
</div>
<script th:src="@{/assets/js/lib/jquery-2.1.3.min.js}"></script>
<script th:src="@{/assets/js/jquery.mousewheel.min.js}"></script>
<script th:src="@{/assets/js/jquery.cookie.min.js}"></script>
<script th:src="@{/assets/js/fastclick.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/clearmin.min.js}"></script>
<script th:src="@{/assets/js/demo/home.js}"></script>
<script th:inline="javascript">
    //给当前页添加标识
    $('.addActive').parent().addClass("active");
    //设置下拉框默认值
    for(var i=0;i<$("option").length;i++){
        if($("option")[i].value == [[${cost}]]){
            $("option")[i].selected = "selected";
            break;
        }
    }

    //改变
    function status(obj){
    	var id = $(obj).attr("value");
    	$.post("/admin/bxPayCost",{
    		"id":id.substring(0, id.indexOf(",")),
    		"payCost":id.substring(id.indexOf(",")+1)
    	},function(status){
    		if(status != "error"){
    			window.location.href="/admin/bxCheck?pageNumber="+ $('#pageNumber').val() + "&name=" + $('#selectName').val()
    			 +'&personName='+ $('#personName').val() + '&idCard=' + $('#idCard').val() +'&cost='+$('#cost').val();
    		}else{
    			alert("网络错误！");
    		}
    	});
	}
</script>
</body>
</html>