<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap-clearmin.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/roboto.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/material-design.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/small-n-flat.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/font-awesome.min.css}">
	<link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}">
	<title>admin Page</title>
	<style type="text/css">
        textarea{
            resize: none;
        }
    </style>
</head>
<body class="cm-no-transition cm-1-navbar">
<div id="cm-menu">
	<nav class="cm-navbar cm-navbar-primary">
		<div class="cm-flex"><a href="/admin/index" class="cm-logo"></a></div>
		<div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
	</nav>
	<div id="cm-menu-content">
		<div id="cm-menu-items-wrapper">
			<div id="cm-menu-scroller">
				<ul class="cm-menu-items">
					<li><a href="/admin/index" class="sf-house">主页</a></li>
					<li class="cm-submenu" th:if="${session.admin.role == 1 || session.admin.role == 2}">
						<a class="sf-brick">先建后补<span class="caret"></span></a>
						<ul>
							<li><a href="/admin/bulletin?sourceId=1">公告设置</a></li>
							<li><a href="/admin/xjhbProject?pageNumber=1">项目管理</a></li>
							<li><a href="/admin/xjhbApply?pageNumber=1">申请书管理</a></li>
							<li><a href="/admin/xjhbCheck?pageNumber=1">待验收管理</a></li>
							<li class="active"><a href="#">验收通过查看</a></li>
						</ul>
					</li>
					<li class="cm-submenu" th:if="${session.admin.role == 1 || session.admin.role == 3}">
						<a class="sf-globe">农业保险<span class="caret"></span></a>
						<ul>
							<li><a href="/admin/bulletin?sourceId=2">公告设置</a></li>
							<li><a href="/admin/bxProject?pageNumber=1">保险项目管理</a></li>
							<li><a href="/admin/bxAudit?pageNumber=1&poverty=3">购买申请审核</a></li>
							<li><a href="/admin/bxCheck?pageNumber=1&cost=3">缴费验收</a></li>
							<li><a href="/admin/bxClaims?pageNumber=1">理赔申请审核</a></li>
						</ul>
					</li>
					<li class="cm-submenu" th:if="${session.admin.role == 1 || session.admin.role == 4}">
						<a class="sf-heart">医疗保障<span class="caret"></span></a>
						<ul>
							<li><a href="/admin/ylNotification?pageNumber=1">公告管理</a></li>
							<li><a href="/admin/ylVerificationPay?pageNumber=1">缴费管理</a></li>
							<li><a href="/admin/ylReimbursement?pageNumber=1">申请报销管理</a></li>
							<li><a href="/admin/ylTransferAccounts?pageNumber=1">待报销查看</a></li>
						</ul>
					</li>
					<li class="cm-submenu" th:if="${session.admin.role == 1 || session.admin.role == 5}">
						<a class="sf-book">教育保障<span class="caret"></span></a>
						<ul>
							<li><a href="/admin/jyNotification?pageNumber=1">公告管理</a></li>
							<li><a href="/admin/ylVerificationPay?pageNumber=1">缴费管理</a></li>
							<li><a href="/admin/ylReimbursement?pageNumber=1">申请报销管理</a></li>
							<li><a href="/admin/ylTransferAccounts?pageNumber=1">待报销查看</a></li>
						</ul>
					</li>
					<li class="cm-submenu" th:if="${session.admin.role == 1 || session.admin.role == 6}">
						<a class="sf-shop">住房保障<span class="caret"></span></a>
						<ul>
							<li><a href="/admin/zfNotification?pageNumber=1">公告管理</a></li>
							<li><a href="/admin/ylVerificationPay?pageNumber=1">缴费管理</a></li>
							<li><a href="/admin/ylReimbursement?pageNumber=1">申请报销管理</a></li>
							<li><a href="/admin/ylTransferAccounts?pageNumber=1">待报销查看</a></li>
						</ul>
					</li>
					<!--  多彩报京 -->
					<li class="cm-submenu" th:if="${session.admin.role == 1}">
						<a class="sf-drop">多彩报京<span class="caret"></span></a>
						<ul>
							<li><a href="/colorful/photos?pageNumber=1">图片展览</a></li>
							<li><a href="/colorful/videos?pageNumber=1">视频播放</a></li>
							<li><a href="/colorful/article?pageNumber=1">报京文苑</a></li>
						</ul>
					</li>
					<li><a href="/admin/login" class="sf-lock-open">退出登录</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<header id="cm-header">
    <nav class="cm-navbar cm-navbar-primary">
        <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
		<div class="cm-flex">
			<h1>验收通过查看</h1>
			<form id="cm-search" action="/admin/xjhbAdopt" method="get">
				<input type="hidden" name="pageNumber" value="1">
				<input type="search" id="selectName" name="name" autocomplete="off" th:value="${name}" placeholder="输入需要查询的项目名称...">
			</form>
		</div>
		<!-- 查询按钮 -->
		<div class="pull-right">
			<div id="cm-search-btn" class="btn btn-primary md-search-white" data-toggle="cm-search"></div>
		</div>
        <div class="dropdown pull-right">
            <button class="btn btn-primary md-account-circle-white" data-toggle="dropdown"></button>
            <ul class="dropdown-menu">
                <li class="disabled text-center">
                    <a style="cursor:default;"><strong th:text="${session.admin.username}"></strong></a>
                </li>
                <li class="divider"></li><!--下划线 -->
                <li>
					<a href="/admin/message"><i class="fa fa-fw fa-cog"></i> 信息设置</a>
				</li>
				<li>
					<a href="/admin/login"><i class="fa fa-fw fa-sign-out"></i> 退出</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div id="global">
    <div class="container-fluid cm-container-white" style="margin-top:0;height:875px;">
		<!-- 表格 -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">先建后补待转帐查看</div>
					<div class="panel-body">
						<button type="button" value="8" onclick="allTransfer(this)" class="btn btn-success">全部标记已转帐</button>&nbsp;&nbsp;&nbsp;&nbsp;
						<button type="button" value="6" onclick="allTransfer(this)" class="btn btn-success">Excl导出全部待转帐信息</button>
					</div>
                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th >#</th>
                            <th class="text-center">类型</th>
							<th class="text-center">名称</th>
							<th class="text-center">简介</th>
                            <th class="text-center">项目申请经费</th>
							<th class="text-center">申请人</th>
							<th class="text-center">农户一卡通号</th>
							<th class="text-center"><code>操作</code></th>
                        </tr>
                        </thead>
                        <tbody>
						<tr class="success" th:each="adopt:${pageInfo.list}">
							<th scope="row" th:text="${adoptStat.index+1}"></th>
							<td th:text="${adopt.projectName}"></td>
							<td th:text="${adopt.projectTitle}"></td>
							<td>
								<textarea disabled th:inline="text">[[${adopt.projectContent}]]</textarea>
							</td>
							<td th:text="${adopt.outlay}"></td>
							<td th:text="${adopt.personName}"></td>
							<td th:text="${adopt.oneCardSolution}"></td>
							<td>
								<div class="btn-group" th:if="${adopt.status == 6}">
								    <button type="button" class="btn btn-warning dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="false">&nbsp;&nbsp;待转帐&nbsp;&nbsp;<span class="caret"></span></button>
									<ul class="dropdown-menu" role="menu" style="width:50px">
										<li><a href="#" th:value="${adopt.id+',8'}" onclick="status(this)">已转帐</a></li>
									</ul>
								</div>
								<div th:if="${adopt.status == 8}">
									<button type="button" disabled class="btn btn-success btn-xs">&nbsp;&nbsp;已转帐&nbsp;&nbsp;</button>
								</div>
							</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
		<!-- 分页 -->
		<nav class="text-center mt-50">
			<ul class="pagination shadowed" style="margin:0">
				<li th:if="${pageInfo.prePage > 0}">
					<a th:href="@{'/admin/xjhbAdopt?pageNumber='+${pageInfo.prePage}+'&name='+${name}}">
						<span><i class="fa fa-angle-left"></i></span>
					</a>
				</li>
				<li th:if="${pageInfo.prePage <= 0 && pageInfo.pages > 0}">
					<a>
						<span><i class="fa fa-angle-left"></i></span>
					</a>
				</li>
				<li th:each="num:${pages}">
					<a th:if="${pageInfo.pageNum == num}" th:text="${num}" class="addActive"></a>
					<a th:href="@{'/admin/xjhbAdopt?pageNumber='+${num}+'&name='+${name}}" th:if="${pageInfo.pageNum != num}" th:text="${num}" class="pageHref"></a>
				</li>
				<li th:if="${pageInfo.nextPage <= 0 && pageInfo.pages > 0}">
					<a>
						<span><i class="fa fa-angle-right"></i></span>
					</a>
				</li>
				<li th:if="${pageInfo.nextPage > 0}">
					<a th:href="@{'/admin/xjhbAdopt?pageNumber='+${pageInfo.nextPage}+'&name='+${name}}">
						<span><i class="fa fa-angle-right"></i></span>
					</a>
				</li>
			</ul>
		</nav>
    </div>
	<input type="hidden" th:value="${pageInfo.pageNum}" id="pageNumber"/>
    <footer class="cm-footer"><span class="pull-left">彩笔码农 在线码字</span><span class="pull-right">&copy; 930926134@qq.com</span></footer>
</div>
<script th:src="@{/assets/js/lib/jquery-2.1.3.min.js}"></script>
<script th:src="@{/assets/js/jquery.mousewheel.min.js}"></script>
<script th:src="@{/assets/js/jquery.cookie.min.js}"></script>
<script th:src="@{/assets/js/fastclick.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/clearmin.min.js}"></script>
<script th:src="@{/assets/js/demo/home.js}"></script>
<script>
	//给当前页添加标识
    $('.addActive').parent().addClass("active");
    //搜索栏有数据则打开
    if($("#selectName").val() != null && $("#selectName").val() != ''){
        $("#cm-search").addClass("open");
    }

    //改变
    function status(obj){
    	var id = $(obj).attr("value");
    	$.post("/admin/status",{
    		"id":id.substring(0, id.indexOf(",")),
    		"status":id.substring(id.indexOf(",")+1)
    	},function(status){
    		if(status != "error"){
    			window.location.href="/admin/xjhbAdopt?pageNumber="+ $('#pageNumber').val();
    		}else{
    			alert("网络错误！");
    		}
    	});
	}

	function allTransfer(obj){
		if(obj.value == 8){
			$.post("/admin/adoptAllTransfer",
				{
					'status':obj.value
				},function(data){
					if(data != '' && data != null){
						alert("更新了"+data+"条数据");
						window.location.href="/admin/xjhbAdopt?pageNumber="+ $('#pageNumber').val();
					}
				}
			);
		}else{
			window.location.href="/admin/downloadExcl?status="+ obj.value;
		}
	}
</script>
</body>
</html>