<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap-clearmin.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/roboto.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/material-design.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/small-n-flat.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/font-awesome.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/tong-yong.css}">
	<link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}">
	<title>admin Page</title>
</head>
<body class="cm-no-transition cm-1-navbar">
<div id="cm-menu">
	<nav class="cm-navbar cm-navbar-primary">
		<div class="cm-flex"><a href="/admin/index" class="cm-logo"></a></div>
		<div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
	</nav>
	<div id="cm-menu-content">
		<div id="cm-menu-items-wrapper">
			<div id="cm-menu-scroller">
				<ul class="cm-menu-items">
					<li><a href="/admin/index" class="sf-house">主页</a></li>
					<li class="cm-submenu">
						<a class="sf-brick">先建后补项目<span class="caret"></span></a>
						<ul>
							<li><a href="/admin/xjhbProject">项目管理</a></li>
							<li><a href="/admin/xjhbApply">申请书管理</a></li>
							<li><a href="/admin/xjhbCheck">待验收管理</a></li>
							<li class="active"><a href="/admin/xjhbAdopt">验收通过查看</a></li>
						</ul>
					</li>
					<li><a href="/admin/login" class="sf-lock-open">退出登录</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<header id="cm-header">
    <nav class="cm-navbar cm-navbar-primary">
        <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
		<div class="cm-flex">
			<h1>验收通过查看</h1>
			<form id="cm-search" action="index.html" method="get">
				<input type="search" name="q" autocomplete="off" placeholder="输入需要查询的项目名称...">
			</form>
		</div>
		<!-- 查询按钮 -->
		<div class="pull-right">
			<div id="cm-search-btn" class="btn btn-primary md-search-white" data-toggle="cm-search"></div>
		</div>
        <div class="dropdown pull-right">
            <button class="btn btn-primary md-account-circle-white" data-toggle="dropdown"></button>
            <ul class="dropdown-menu">
                <li class="disabled text-center">
                    <a style="cursor:default;"><strong th:text="${session.admin.username}"></strong></a>
                </li>
                <li class="divider"></li><!--下划线 -->
                <li>
					<a href="/admin/message"><i class="fa fa-fw fa-cog"></i> 信息设置</a>
				</li>
				<li>
					<a href="/admin/login"><i class="fa fa-fw fa-sign-out"></i> 退出</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div id="global">
    <div class="container-fluid cm-container-white" style="margin-top:0;height:875px;">
		<!-- 表格 -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Tables with contextual classes</div>
                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th >#</th>
                            <th class="text-center">申请项目名称</th>
                            <th class="text-center">项目申请经费</th>
							<th class="text-center">申请人</th>
							<th class="text-center">农户一卡通号</th>
							<th class="text-center"><code>操作</code></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>active</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>
								<div class="btn-group">
								    <button type="button" class="btn btn-warning dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="false">&nbsp&nbsp未打钱&nbsp &nbsp <span class="caret"></span></button>
								    <ul class="dropdown-menu" role="menu" style="width:50px">
								        <li><a href="#">已打钱</a></li>
								    </ul>
								</div>
							</td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>active</td>
                        	<td>Column content</td>
                        	<td>Column content</td>
                        	<td>Column content</td>
                        	<td>
                        		<div class="btn-group">
                        		    <button type="button" class="btn btn-warning dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="false">&nbsp&nbsp未打钱&nbsp &nbsp <span class="caret"></span></button>
                        		    <ul class="dropdown-menu" role="menu" style="width:50px">
                        		        <li><a href="#">已打钱</a></li>
                        		    </ul>
                        		</div>
                        	</td>
                        </tr>
						<tr>
						    <th scope="row">1</th>
						    <td>active</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>
								<div class="btn-group">
								    <button type="button" class="btn btn-warning dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="false">&nbsp&nbsp未打钱&nbsp &nbsp <span class="caret"></span></button>
								    <ul class="dropdown-menu" role="menu" style="width:50px">
								        <li><a href="#">已打钱</a></li>
								    </ul>
								</div>
							</td>
						</tr>
						<tr>
						    <th scope="row">1</th>
						    <td>active</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>
								<div class="btn-group">
								    <button type="button" class="btn btn-warning dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="false">&nbsp&nbsp未打钱&nbsp &nbsp <span class="caret"></span></button>
								    <ul class="dropdown-menu" role="menu" style="width:50px">
								        <li><a href="#">已打钱</a></li>
								    </ul>
								</div>
							</td>
						</tr>
						<tr>
						    <th scope="row">1</th>
						    <td>active</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>
								<div class="btn-group">
								    <button type="button" class="btn btn-warning dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="false">&nbsp&nbsp未打钱&nbsp &nbsp <span class="caret"></span></button>
								    <ul class="dropdown-menu" role="menu" style="width:50px">
								        <li><a href="#">已打钱</a></li>
								    </ul>
								</div>
							</td>
						</tr>
						<tr>
						    <th scope="row">1</th>
						    <td>active</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>
								<div class="btn-group">
								    <button type="button" class="btn btn-success dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="false">&nbsp&nbsp已打钱&nbsp &nbsp <span class="caret"></span></button>
								    <ul class="dropdown-menu" role="menu" style="width:50px">
								        <li><a href="#">未打钱</a></li>
								    </ul>
								</div>
							</td>
						</tr>
						<tr>
						    <th scope="row">1</th>
						    <td>active</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>Column content</td>
							<td>
								<div class="btn-group">
								    <button type="button" class="btn btn-warning dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="false">&nbsp&nbsp未打钱&nbsp &nbsp <span class="caret"></span></button>
								    <ul class="dropdown-menu" role="menu" style="width:50px">
								        <li><a href="#">已打钱</a></li>
								    </ul>
								</div>
							</td>
						</tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
		<!-- 分页 -->
		<nav class="text-center mt-50">
			<ul class="pagination shadowed" style="margin:0">
				<li>
					<a href="#">
						<span><i class="fa fa-angle-left"></i></span>
					</a>
				</li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li>
					<a href="#">
						<span><i class="fa fa-angle-right"></i></span>
					</a>
				</li>
			</ul>
		</nav>
    </div>

    <footer class="cm-footer"><span class="pull-left">彩笔码农 在线码字</span><span class="pull-right">&copy; 930926134@qq.com</span></footer>
</div>
<script th:src="@{/assets/js/lib/jquery-2.1.3.min.js}"></script>
<script th:src="@{/assets/js/jquery.mousewheel.min.js}"></script>
<script th:src="@{/assets/js/jquery.cookie.min.js}"></script>
<script th:src="@{/assets/js/fastclick.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/clearmin.min.js}"></script>
<script th:src="@{/assets/js/demo/home.js}"></script>
</body>
</html>