<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scala=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
	<title>报京文苑</title>
	<link rel="stylesheet" type="text/css" th:href="@{/baojing/css/common.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/baojing/css/baojingwenyuan.css}">
	<script type="text/javascript" th:src="@{/baojing/js/jquery.min.js}"></script>
</head>
<body>
	<!-- 文章B -->
	<div class="article-container">
		<div class="b_title" th:text="${article.name}"></div>
		<div class="b_time" th:text="${#dates.format(article.createTime, 'yyyy-MM-dd')}"></div>
		<div class="b_html" th:utext="${article.html}"></div>
	</div>
	<!-- 文章E -->
</body>
</html>