<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scala=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
	<title>图片展览</title>
	<link rel="stylesheet" type="text/css" th:href="@{/baojing/css/common.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/baojing/css/tupianzhanlan.css}">
	<script type="text/javascript" th:src="@{/baojing/js/jquery.min.js}"></script>
</head>
<body>
	<!-- 图片B -->
	<div class="img-container">
		<span th:text="${fileName}"></span><br/>
		<img alt="" th:src="'/preview/'+${path}">
	</div>
	<!-- 图片E -->
</body>
<script type="text/javascript">


</script>
</html>