<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap-clearmin.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/roboto.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/material-design.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/small-n-flat.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/summernote.css}">
    <link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}">
    <title>用户管理</title>
</head>
<body class="cm-no-transition cm-1-navbar">
<div id="cm-menu">
    <nav class="cm-navbar cm-navbar-primary">
        <div class="cm-flex"><a href="/admin/index" class="cm-logo"></a></div>
        <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
    </nav>
    <div id="cm-menu-content">
        <div id="cm-menu-items-wrapper">
            <div id="cm-menu-scroller">
                <ul class="cm-menu-items">
                    <li><a href="/admin/index" class="sf-house">主页</a></li>
                    <li class="cm-submenu" th:if="${session.admin.role == 1 || session.admin.role == 2}">
                        <a class="sf-brick">先建后补项目<span class="caret"></span></a>
                        <ul>
                            <li class="active"><a href="#">公告设置</a></li>
                            <li><a href="/admin/xjhbProject?pageNumber=1">项目管理</a></li>
                            <li><a href="/admin/xjhbApply?pageNumber=1">申请书管理</a></li>
                            <li><a href="/admin/xjhbCheck?pageNumber=1">待验收管理</a></li>
                            <li><a href="/admin/xjhbAdopt?pageNumber=1">验收通过查看</a></li>
                        </ul>
                    </li>
                    <li class="cm-submenu" th:if="${session.admin.role == 1 || session.admin.role == 3}">
                        <a class="sf-globe">农业保险项目<span class="caret"></span></a>
                        <ul>
                            <li><a href="/admin/bulletin?sourceId=2">公告设置</a></li>
                            <li><a href="/admin/bxProject?pageNumber=1">保险项目管理</a></li>
                            <li><a href="/admin/bxAudit?pageNumber=1&poverty=3">购买申请审核</a></li>
                            <li><a href="/admin/bxCheck?pageNumber=1&cost=3">缴费验收</a></li>
                            <li><a href="/admin/bxClaims?pageNumber=1">理赔申请审核</a></li>
                        </ul>
                    </li>
                    <!--  多彩报京 -->
                    <li class="cm-submenu" th:if="${session.admin.role == 1}">
                        <a class="sf-drop">多彩报京<span class="caret"></span></a>
                        <ul>
                            <li><a href="/colorful/photos?pageNumber=1">图片展览</a></li>
                            <li><a href="/colorful/videos?pageNumber=1">视频播放</a></li>
                            <li class="active"><a href="/colorful/article?pageNumber=1">报京文苑</a></li>
                        </ul>
                    </li>
                    <!--  供销系统 -->
                    <li class="cm-submenu" th:if="${session.admin.role == 1}">
                        <a class="sf-wrench">供销系统<span class="caret"></span></a>
                        <ul>
                            <li><a href="/supplyAdmin/getNeedByPage?pageNumber=1&type=0&username=">需求管理</a></li>
                            <li><a href="/supplyAdmin/getUserByPage?pageNumber=1&username=">用户管理</a></li>
                        </ul>
                    </li>
                    <li><a href="/admin/login" class="sf-lock-open">退出登录</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<header id="cm-header">
    <nav class="cm-navbar cm-navbar-primary">
        <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
        <div class="cm-flex">
            <h1>供销管理</h1>
        </div>
        <div class="dropdown pull-right">
            <button class="btn btn-primary md-account-circle-white" data-toggle="dropdown"></button>
            <ul class="dropdown-menu">
                <li class="disabled text-center">
                    <a style="cursor:default;"><strong th:text="${session.admin.username}"></strong></a>
                </li>
                <li class="divider"></li><!--下划线 -->
                <li>
                    <a href="/admin/message"><i class="fa fa-fw fa-cog"></i> 信息设置</a>
                </li>
                <li>
                    <a href="/admin/login"><i class="fa fa-fw fa-sign-out"></i> 退出</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div id="global">
    <div class="container-fluid cm-container-white" style="margin-top:0;height:875px;">
        <!-- 表格 -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">供销系统管理</div>
                    <br>
                    <div class="row">
                        <div class="col-lg-4">
                            <input type="text" id="myname" style="width: 500px;height: 37px;margin-left: 10px;border-radius: 10px" class="form-control input-sm" placeholder="请输入需要查询的用户名">
                        </div>
                        <div class="col-lg-2 text-left">
                            <button type="button" id="findUser"  style="margin-left: 0px" class="btn btn-success">立即查询</button>
                        </div>
                    </div>
                    <hr>
                    <input type="hidden" value="1" id="pageNumber">

                    <table class="table text-center table-hover">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th class="text-center">用户名</th>
                            <th class="text-center">昵称</th>
                            <th class="text-center">电话</th>
                            <th class="text-center">注册IP</th>
                            <th class="text-center">用户角色</th>
                            <th class="text-center">注册时间</th>
                            <th class="text-center"><code>操作</code></th>
                        </tr>
                        </thead>
                        <tbody id="myData">
                        <tr th:each="list : ${pageInfo.list}">
                            <td th:text="${list.id}"></td>
                            <td th:text="${list.username}"></td>
                            <td th:text="${list.name}"></td>
                            <td th:text="${list.phone}"></td>
                            <td th:text="${list.lastip}"></td>
                            <td th:if="${list.userType==1}">管理员</td>
                            <td th:unless="${list.userType==1}">普通用户</td>
                            <td th:text="${#dates.format(list.registertime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td>
                                <button type="button" class="btn btn-success btn-xs" onclick="updateMsg(this)" th:value="${list.id}" data-toggle="modal" data-target="#userMsg">编辑</button>
                                &nbsp;
                            </td>
                        </tr>
                        <tr th:if="${pageInfo.list == null}">
                            <th colspan="8" class="text-center">无数据</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- 分页 -->
        <nav class="text-center" id="pageN">
            <ul class="pagination shadowed" style="margin:0">
                <li th:if="${pageInfo.prePage > 0}">
                    <a th:href="@{'/supplyAdmin/getUserByPage?pageNumber='+${pageInfo.prePage}}">
                        <span><i class="fa fa-angle-left"></i></span>
                    </a>
                </li>
                <li th:if="${pageInfo.prePage <= 0 && pageInfo.pages > 0}">
                    <a>
                        <span><i class="fa fa-angle-left"></i></span>
                    </a>
                </li>
                <li th:each="num:${pages}">
                    <a th:if="${pageInfo.pageNum == num}" th:text="${num}" class="addActive"></a>
                    <a th:href="@{'/supplyAdmin/getUserByPage?pageNumber='+${num}}" th:if="${pageInfo.pageNum != num}" th:text="${num}" class="pageHref"></a>
                </li>
                <li th:if="${pageInfo.nextPage <= 0 && pageInfo.pages > 0}">
                    <a>
                        <span><i class="fa fa-angle-right"></i></span>
                    </a>
                </li>
                <li th:if="${pageInfo.nextPage > 0}">
                    <a th:href="@{'/supplyAdmin/getUserByPage?pageNumber='+${pageInfo.nextPage}}">
                        <span><i class="fa fa-angle-right"></i></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- 预览模态框   -->
    <div id="userMsg" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 500px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">
                        编辑用户
                        <a class="anchorjs-link" href="#myModalLabel"><span class="anchorjs-icon"></span></a>
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <input type="hidden" name="id" id="userId">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">用户名</label>
                            <div class="col-sm-10">
                               <label class="col-sm-2 control-label" id="userName"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-sm-2 control-label">电话</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="phone" placeholder="phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="uname" class="col-sm-2 control-label">昵称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="uname" placeholder="phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="useType" class="col-sm-2 control-label">用户角色</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="useType">
                                    <option value="1">管理员</option>
                                    <option value="0">普通用户</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="updateMsg" class="btn btn-primary">修改</button>
                    <button type="button" id="ret" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <footer class="cm-footer"><span class="pull-left">彩笔码农 在线码字</span><span class="pull-right">© 930926134@qq.com</span></footer>
</div>
</body>
<!--导入JS文件-->
<script th:src="@{/assets/js/lib/jquery-2.1.3.min.js}"></script>
<script th:src="@{/assets/js/jquery.mousewheel.min.js}"></script>
<script th:src="@{/assets/js/jquery.cookie.min.js}"></script>
<script th:src="@{/assets/js/fastclick.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/clearmin.min.js}"></script>
<script th:src="@{/assets/js/demo/home.js}"></script>
<script th:src="@{/assets/js/summernote.min.js}"></script>
<script th:src="@{/assets/js/demo/notepad.js}"></script>
<!--自定义JS-->
<script>
    function updateMsg(obj) {
        var id = $(obj).attr("value");
        $.post("/supplyAdmin/getUserById",{"id":id},function (data) {
            $("#userId").val(data.id);
            // 填充用户名
            $("#userName").text(data.username);
            // 填充昵称
            $("#uname").val(data.name);
            // 填充电话
            $("#phone").val(data.phone);
            // 填充权限
            var option = $('');
            var ch = $("#useType");
            ch.find("option").remove();
            if(data.userType == 1){
                option= $('<option value="1">管理员</option><option value="0">普通用户</option>');
            }else{
                option= $('<option value="0">普通用户</option><option value="1">管理员</option>');
            }
            ch.append(option);
        },"json");
    }
    $("#updateMsg").click(function () {
        var id = $("#userId").val();
        var username = $("#userName").text();
        var name = $("#uname").val();
        var phone = $("#phone").val();
        var useType = $("#useType").val();
        if(username == ""){
            alert("用户名不能为空");
            return false;
        }
        if(name == ""){
            alert("昵称不能为空");
            return false;
        }
        if(phone == ""){
            alert("电话不能为空");
            return false;
        }
        $.post("/supplyAdmin/updateUser",{
            "id":id,
            "phone":phone,
            "name":name,
            "userType":useType
        },function (data) {
            if(data.code == 1 ){
                window.location.href = "/supplyAdmin/getUserByPage?pageNumber=1";
            }else{
                alert("更新用户失败");
                return false;
            }
        },"json");
    });
    $("#findUser").click(function () {
       window.location.href="/supplyAdmin/getUserByPage?pageNumber=1&username="+$("#myname").val();
    });
</script>
</html>