<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>资助通知</title>
    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <!--    <div class="col-sm-12">-->
    <h3>资助通知</h3>
    <!--分割线-->
    <div class="decoration"></div>
    <!--已经购买的保险列表-->
    <th:block th:each="item : ${bulletins}">
        <div class="medical-view-div">
            <a th:href="'/education/detail?id='+${item.id}" class="medical-view-item">
                <div class="medical-view-item-bd">
                    <h4 th:text="${item.title}"></h4>
                </div>
                <span class="medical-view-item-fr">查看详情</span>
            </a>
            <div class="medical-view-item-fl">
                <p th:inline="text">
                    [[${item.content}]]
                </p>
            </div>
            <span class="medical-view-item">
                    <div class="medical-view-item-bd"></div>
                    <span class="medical-view-item-fr" th:text="${item.time}"></span>
                </span>
        </div>
    </th:block>
    <!--如果没有数据-->
    <th:block th:if="${bulletins.size() == 0}">
        <div class="table-view-div">
            <div class="table-view-project text-center"><span class="shadow">暂时没有资助通知！</span></div>
        </div>
    </th:block>
    <div class="decoration medical-bottom"></div>
</div>

<!--底部导航条-->
<footer class="am-menu am-cf">
    <a href="/education">
        <div class="am-menu-column active" id="explore" style="width: 50%;">
            <span>资助通知</span>
        </div>
    </a>
    <a href="/education/myApply?pageNumber=1">
        <div class="am-menu-column" id="index" style="width: 50%;">
            <span>我的申请</span>
        </div>
    </a>
</footer>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript">

</script>
</body>
</html>