.am-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #efefef;
    text-align: center;
    height: 54px;
    overflow: hidden;
    z-index: 98;
    border-top: 1px solid #ddd;
}
.am-menu-column {
    width: 25%;
    height: 100%;
    float: left;
    font-size:16px;
    padding-top:15px;
}
body {
    padding-top: 3px;
    background-image: url(../img/background.png);
    background-repeat: repeat;
}
.container {
    margin-bottom:100px;
    background-image: url(../img/header-deco.png);
    background-repeat: repeat-x;
    height: 5px;
    margin-left: -10px;
    padding-right: 10px;
    width: 102%;
    margin-top: -3px;
}
.decoration {
    background-image: url(../img/deco_style_1.png);
    height: 2px;
    width: 100%;
    display: block;
    background-repeat: repeat-x;
    padding-bottom: 20px;
}
foot a{
    display: block;
    z-index: 100;
}
.active{
    display: block;
    background: rgba(10, 18, 12, 0.2);
}
.full-width {
    width: 100%;
    padding-bottom: 20px;
}
.shadow {
    text-shadow: 0px 1px 0px #ffffff;
}

.form{
    margin-bottom: 60px;
}
/*
* 我申请的项目样式表
*/
.table-view{
    list-style: none;
    margin: 0 2px 54px 2px;
    padding:0;
}
.table-view li{
    position: relative;
    overflow: hidden;
    -webkit-touch-callout: none;
    margin-bottom: 10px;
    background-color: #e6e6e6;
    border-radius: 10px;
}
.table-view-div{
    -webkit-box-align: inherit;
    -webkit-align-items: inherit;
    align-items: inherit;
    padding: 20px 15px;
}
.table-view-project{
    font-weight:bold;
    position: relative;
    height: 25px;
    font-size: 1.2em;
}
.table-view-item{
    position: relative;
    height: 25px;
    font-size: 1.2em;
}
.table-view-option{
    position: relative;
    height: 25px;
    font-size: 1.2em;
}
.table-view-status{
    position:absolute;
    right:15px;
    top:17px;
    font-size: 1.1em;
    z-index:5;
}
.table-view-div .shadow{
    /*
    text-shadow: 1px 1px 1px;
     */
}
.w2{
    letter-spacing:2em; /*如果需要y个字两端对齐，则为(x-y)/(y-1),这里是（4-2）/(2-1)=2em */
    margin-right:-2em; /*同上*/
}
.w3{
    letter-spacing:0.5em; /*如果需要y个字两端对齐，则为(x-y)/(y-1),这里是（4-3）/(3-1)=0.5em */
    margin-right:-0.5em; /*同上*/
}
.table-view-item a{
    text-decoration:none;/*去掉a标签的下划线*/
}
/**
 * 医疗保险列表样式表
 */
.medical-view-div{
    margin-bottom: 10px;
    border-radius: 2px;
    background: rgba(255,255,255,0.5);
    padding: 15px 15px 10px 15px;
    box-shadow: 0 1px 16px 0 rgba(0,0,0,.1);
}
.medical-view-item{
    padding: 0;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 10px;
}
.medical-view-item-bd{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
}
.medical-view-item-fr{
    font-size: 0.8rem;
    text-align: right;
    color: #999999;
    padding-right: 13px;
    position: relative;
}
.medical-view-item-fl{
    color: #666666;
    font-size: 0.8rem;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
    padding-left: 10px;
}
.medical-bottom{
    margin-top: 50px;
}
.medical-view-item-fl p{
    text-indent:2em;
    font-size: 1.7em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.details-view{
    border-radius: 2px;
    background: rgba(255,255,255,0.5);
    margin-top:20px ;
    padding: 15px 15px 10px 15px;
}
.details-view p{
    text-indent:2em;
}