<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>我购买的保险</title>
    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container">
<!--    <div class="col-sm-12">-->
        <h3>保险申请进度</h3>
        <!--分割线-->
        <div class="decoration"></div>
        <!--已经购买的保险列表-->
        <ul class="table-view">
            <li th:each="insurance : ${dataList}">
                <div class="table-view-div">
                    <div class="table-view-project" th:inline="text"><span class="shadow">项目名称：</span>[[${insurance.projectName}]]</div>
                    <div class="table-view-item" th:inline="text"><span class="shadow">订单编号：</span>[[${insurance.id}]]</div>
                    <div class="table-view-item" th:inline="text"><span class="shadow">购买数量：</span>[[${insurance.buyNumber}]]</div>
                    <div class="table-view-item" th:inline="text"><span class="shadow">保险总价：</span>￥[[${#numbers.formatDecimal(insurance.totalPrice,0,'COMMA',2,'POINT')}]]</div>
                    <!--功能标签，用于判断是否显示该列（受灾照片）-->
                    <th:block th:if="${insurance.affectedPhoto != null}">
                        <div class="table-view-item" th:inline="text"><span class="shadow">受灾照片：</span>
                            <a th:href="'/insurance/downloadFile?path='+${insurance.affectedPhoto}+'&name='+${insurance.affectedPhotoName}">
                                [[${insurance.affectedPhotoName}]]
                                <img src="/assets/img/sf/cloud-down.svg" width="26" height="20">
                            </a>
                        </div>
                    </th:block>
                    <!--功能标签，用于判断是否显示该列（理赔申请书）-->
                    <th:block th:if="${insurance.claimsApplication != null}">
                        <!--class属性w3将3个中文和4个中文对齐-->
                        <div class="table-view-item" th:inline="text"><span class="shadow"><span class="w3">申请书</span>：</span>
                            <a th:href="'/insurance/downloadFile?path='+${insurance.claimsApplication}+'&name='+${insurance.claimsApplicationName}">
                                [[${insurance.claimsApplicationName}]]
                                <img src="/assets/img/sf/cloud-down.svg" width="26" height="20">
                            </a>
                        </div>
                    </th:block>

                    <div class="table-view-item" th:inline="text"><span class="shadow">申请时间：</span>[[${#dates.format(insurance.createTime,'yyyy-MM-dd HH:mm:ss')}]]</div>
                    <!--class属性w2将2个中文和4个中文对齐-->
                    <div class="table-view-option"><span class="shadow"><span class="w2">操作</span>：</span>
                        <!-- 功能标签-->
                        <th:block th:switch="${insurance.status}">
                            <!-- 功能标签-->
                            <th:block th:case="2">
                                <button th:if="${insurance.payCost} eq 1" class="btn btn-xs btn-primary" th:onclick="'applyClaim('+${insurance.id}+')'">申请理赔</button>
                                <button th:if="${insurance.payCost} eq 0" class="btn btn-xs btn-primary" th:onclick="'payment('+${insurance.id}+')'">立即缴费</button>
                                <button th:if="${insurance.payCost} eq 2" class="btn btn-xs btn-default" disabled="disabled">暂无操作</button>
                            </th:block>
                            <button th:case="3" class="btn btn-xs btn-primary" th:onclick="'apply('+${insurance.id}+')'">重新申请</button>
                            <button th:case="6" class="btn btn-xs btn-primary" th:onclick="'applyClaim('+${insurance.id}+')'">完善信息</button>
                            <button th:case="*" class="btn btn-xs btn-default" disabled="disabled">暂无操作</button>
                        </th:block>
                    </div>

                    <!--用于显示状态的div-->
                    <div class="table-view-status" th:switch="${insurance.status}">
                        <label th:case="1" class="label label-default">等待审核</label>
                        <!-- 功能标签-->
                        <th:block th:case="2">
                            <label th:if="${insurance.payCost} eq 1" class="label label-primary">已缴费</label>
                            <label th:if="${insurance.payCost} eq 0" class="label label-warning">等待缴费</label>
                            <label th:if="${insurance.payCost} eq 2" class="label label-warning">缴费验证中</label>
                        </th:block>

                        <label th:case="3" class="label label-danger">审核失败</label>
                        <label th:case="4" class="label label-info">理赔申请中</label>
                        <label th:case="5" class="label label-success">理赔通过</label>
                        <label th:case="6" class="label label-danger">理赔失败</label>

                    </div>
                </div>
            </li>
            <!--列表模板-->
            <!-- <li>
                <div class="table-view-div">
                    <div class="table-view-project"><span class="shadow">项目名称：</span>测试项目1</div>
                    <div class="table-view-item"><span class="shadow">购买数量：</span>200</div>
                    <div class="table-view-item"><span class="shadow">保险总价：</span>2000元</div>
                    <div class="table-view-item"><span class="shadow">申请时间：</span>2019-08-20 17:40:05</div>
                    <div class="table-view-option"><span class="shadow">操&emsp;&emsp;作：</span><button class="btn btn-xs btn-primary">暂无操作</button></div>
                    <div class="table-view-status"><label class="label label-success">审核通过</label></div>
                </div>
            </li>-->
        </ul>
        <!--分割线-->
        <div class="decoration"></div>
<!--    </div>-->
</div>
<!-- 模态框 -->
<div class="modal fade" tabindex="-1" role="dialog" id="gridSystemModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">保险缴费</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="alert alert-info" role="alert">请先转账到以下银行账户后再点击确认缴费按钮！！</div>
                </div>
                <!--隐藏的表单域-->
                <input type="hidden" id="insuranceId">
                <div class="row">
                    <div class="col-xs-4 text-left">收款人：</div>
                    <div class="col-xs-8">用于测试的收款人</div>
                </div>
                <div class="row">
                    <div class="col-xs-4 text-left">所属银行：</div>
                    <div class="col-xs-8">中国农业银行</div>
                </div>
                <div class="row">
                    <div class="col-xs-4 text-left">银行卡号：</div>
                    <div class="col-xs-8">6214414141414141414</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="confirmPayment()">确认已缴费？</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--底部导航条-->
<footer class="am-menu am-cf">
    <a href="/insurance">
        <div class="am-menu-column " id="explore" style="width: 33%;">
            <span>项目申请</span>
        </div>
    </a>
    <a href="/insurance/myInsurance?pageNumber=1">
        <div class="am-menu-column active" id="index" style="width: 33%;">
            <span>我的申请</span>
        </div>
    </a>
    <a href="/insurance/user">
        <div class="am-menu-column" id="my" style="width: 33%;">
            <span>我的资料</span>
        </div>
    </a>
</footer>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript">
     function applyClaim(id) {
         window.location.href = "/insurance/applyForClaim?id="+id;
     }
     function apply(id) {
         if(id != null && id != ""){
             var choose = confirm("重新申请之前请完善你的资料，点击确认继续，点击取消自动跳转到完善资料页面！");
             if(choose == true){
                 window.location.href = "/insurance/updateInsurance?id="+id;
             }else{
                 window.location.href = "/insurance/user";
             }
         }else{
             alert("数据出错！");
         }

     }
     //用于显示缴费模态框的按钮
     function payment(id){
         //设置模态框
         $("#insuranceId").val(id);
         $("#gridSystemModal").modal("show");
     }
     function confirmPayment() {
         if($("#insuranceId").val() == null || $("#insuranceId").val() == ""){
             alert("无法获取信息，无法提交！");
            return false;
         }
         var params = {
             "id":$("#insuranceId").val()
         }
         $.post("/insurance/payment",params,function (data) {
             if(data.code == 1){
                 $("#gridSystemModal").modal("hide");
                 window.location.reload();
             }else{
                 alert(data.result);
             }
         },"json");
     }
</script>
</body>
</html>