<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>先建后补</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap-clearmin.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/roboto.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/material-design.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/small-n-flat.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/font-awesome.min.css}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container text-center">
    <div class="col-sm-12">
        <h3 style="text-align: center;" th:text="${bulletin.title != null?bulletin.title:'申请项目注意事项'}">申请项目</h3>
        <!--分割线-->
        <div class="decoration"></div>
        <div class="full-width" style="text-align: center;" id="content">
            <p class="shadow">在提交申请表之前，请检查你的信息是否完整，不可有错误信息！</p>
        </div>
        <!--分割线-->
        <div class="decoration"></div>
        <!--表单-->
        <button type="button" class="btn btn-turquoise" style=" color: #FFFFFF ;background-color: #912f2c; border-radius: 20px; outline: none" id="apply">申请项目</button>
    </div>
</div>
<!--底部导航条-->
<footer class="am-menu am-cf">
    <a href="#">
        <div class="am-menu-column active" style="width: 33%;">
            <span>项目申请</span>
        </div>
    </a>
    <a href="/poverty/manage">
        <div class="am-menu-column" style="width: 33%;">
            <span>项目管理</span>
        </div>
    </a>
    <a href="/poverty/user">
        <div class="am-menu-column" style="width: 33%;">
            <span>我的资料</span>
        </div>
    </a>
</footer>
</div>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:inline="javascript">
    if([[${content}]] != ''){
        $("#content").html([[${content}]]);
    }
    $("#apply").click(function(){
        $.post("/poverty/verifyInformation",{},function(data){
            if(data == "yes"){
                window.location.href="/poverty/information";
            }else{
                alert("需补充资料才可申请项目！");
                window.location.href="/poverty/user";
            }
        });
    });
</script>
</body>
</html>
