<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>先建后补</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap-clearmin.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/roboto.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/material-design.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/small-n-flat.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/font-awesome.min.css}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container-fiuled">
    <div class="panel panel-default">
        <div class="panel-heading">申请先建后补项目</div>
        <div class="panel-body" style="min-height: 264px;">
            <form class="form-horizontal">
                <div class="center-input" >
                    <select   class="input-style" name="option" id="select">
                        <option class="option-input" value="-1">申请项目类型</option>
                        <option class="option-input" th:each="project : ${projects}" th:value="${project.id}" th:text="${project.projectName}">
                    </select>
                </div>
                <div class="center-input" >
                    <input type="text" name="projectTitle" class="input-style-pr" id="projectTitle" placeholder="项目名称">
                </div>

                <div class="center-input" >
                    <input type="text" name="outlay" class=" input-style-pr" id="outlay" placeholder="项目申请经费">
                </div>

                <div class="center-input" >
                    <label>项目开始时间</label>
                    <input type="date" name="startTime" class="input-style-i" id="startTime" placeholder="建设开始时间">
                </div>

                <div class="center-input" >
                    <label>项目结束时间</label>
                    <input type="date" name="startTime" class="input-style-i" id="endTime" placeholder="建设结束时间">
                </div>

                <div class="center-input" >
                    <textarea name="projectContent" class="input-style-pr" id="projectContent" placeholder="项目简介"></textarea>
                </div>

                <div class="center-input-bt" >
                    <label for="downloadTemplate" class="col-sm-2 control-label">项目申请书模板下载：</label><br>
                    <button class="btn" style="width:100%; color: #FFFFFF; background-color: #0089c6; padding:6px 10px!important;" type="button" id="downloadTemplate">模板下载</button>
                </div>

                <div class="center-input-bt" style="position: relative;" >
                    <button class="btn  " style="width:50%;  padding:6px 10px!important;" type="button">项目申请书上传</button>
                    <input style="position:absolute;top:0;left:0;font-size:34px; opacity:0; width: 50%" type="file" name="identify_project" id="identify_project" onchange="saveFile(this)">
                    <span id="projectFileName" style="vertical-align: middle">未上传文件</span>
                    <a href="#" class="hidden" id="fileA"><img th:src="@{/assets/img/sf/cloud-down.svg}" width="26" height="20"></a>
                </div>

                <div class="center-input-bt" style="position: relative;">
                    <button class="btn " style="width:50%; padding:6px 10px!important; " type="button" id="other">其他证明材料上传</button>
                    <input style="position:absolute;top:0;left:0;font-size:34px; opacity:0; width: 50%" type="file" name="identify_other" id="identify_other" onchange="saveFile(this)">
                    <span id="otherFileName">未上传文件</span>
                    <a href="#" class="hidden" id="fileB"><img th:src="@{/assets/img/sf/cloud-down.svg}" width="26" height="20"></a>
                </div>
                <br />
                <br /><br />
                <div class="center-input-bt">
                    <button type="button" id="sub" class="btn subBtn " style=" color: #FFFFFF ;background-color: #912f2c; border-radius: 20px">提交申请</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/assets/js/lib/jquery-2.1.3.min.js}"></script>
<script th:src="@{/assets/js/jquery.mousewheel.min.js}"></script>
<script th:src="@{/assets/js/jquery.cookie.min.js}"></script>
<script th:src="@{/assets/js/fastclick.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/clearmin.min.js}"></script>
<script th:src="@{/assets/js/demo/home.js}"></script>
<script th:inline="javascript">
    //记录已上传文件的信息
    var applicationPath = null;
    var applicationName = null;
    var otherPath = null;
    var otherName = null;
    //修改时变量
    var informationId = null;
    var personId = null;
    var createTime = null;
    //如果是修改则初始化初始值
    $(function () {
        //设置下拉框默认值
        for(var i=0;i<$("option").length;i++){
            if($("option")[i].value == [[${information.projectId}]]){
                $("option")[i].selected = "selected";
                break;
            }
        }
        informationId = [[${information.id}]];
        personId = [[${information.personId}]];
        createTime = [[${information.createTime}]];
        $('#outlay').val([[${information.outlay}]]);
        $('#startTime').val(timestampToTime([[${information.startTime}]]));
        $('#endTime').val(timestampToTime([[${information.endTime}]]));
        $('#projectTitle').val([[${information.projectTitle}]]);
        $('#projectContent').val([[${information.projectContent}]]);
        applicationPath = [[${information.projectApplication}]];
        applicationName = [[${information.projectApplicationName}]];
        otherPath = [[${information.otherProof}]];
        otherName = [[${information.otherProofName}]];
        //显示文件下载和添加事件
        if(applicationPath != null){
            $("#projectFileName").text(applicationName);
            $('#fileA').removeClass('hidden');
            $('#fileA').click(function(){
                window.location.href="/poverty/download?path=" + applicationPath + "&name=" + applicationName;
            });
        }
        if(otherPath != null){
            $("#otherFileName").text(otherName);
            $('#fileB').removeClass('hidden');
            $('#fileB').click(function(){
                window.location.href="/poverty/download?path=" + otherPath + "&name=" + otherName;
            });
        }
    });

    //保存文件
    function saveFile(obj){
        var data = new FormData();
        if(obj.id=='identify_project'){
            //上传的是申请书
            data.append('path',applicationPath);
            applicationName = obj.files[0].name;
            $("#projectFileName").text(applicationName);
            //添加单击事件
            $('#fileA').click(function(){
                window.location.href="/poverty/download?path=" + applicationPath + "&name=" + applicationName;
            });
            //如果是隐藏则取消隐藏
            if($('#fileA').hasClass('hidden')){
                $('#fileA').removeClass('hidden');
            }
        }else{
            data.append('path',otherPath);
            otherName = obj.files[0].name;
            $("#otherFileName").text(otherName);
            //添加单击事件
            $('#fileB').click(function(){
                window.location.href="/poverty/download?path=" + otherPath + "&name=" + otherName;
            });
            //如果是隐藏则取消隐藏
            if($('#fileB').hasClass('hidden')){
                $('#fileB').removeClass('hidden');
            }
        }
        data.append('file', obj.files[0]);
        //切割类型
        var extStart = obj.value.lastIndexOf('.');
        var ext = obj.value.substring(extStart, obj.value.length);
        data.append('type',ext);
        $.ajax({
            url: '/poverty/upload',
            type: 'POST',
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            success:function(result){
                alert("上传成功！");
                if(obj.id=='identify_project'){
                    //上传的是申请书
                    applicationPath = result;
                }else{
                    otherPath = result;
                }
            },
            error:function(result){
                alert("上传失败！");
            }
        });
    }

    //验证
    function verify(){
        if($('#projectTitle').val()==null || $('#projectTitle').val()==''){
            return false;
        }
        if($('#projectContent').val()==null || $('#projectContent').val()==''){
            return false;
        }
        if($('#outlay').val()==null || $('#outlay').val()==''){
            return false;
        }
        if($('#startTime').val()==null || $('#startTime').val()==''){
            return false;
        }
        if($('#endTime').val()==null || $('#endTime').val()==''){
            return false;
        }
        if(applicationPath==null || applicationPath==''){
            return false;
        }
        if(otherPath==null || otherPath==''){
            return false;
        }
        return true;
    }

    //保存申请书
    $('#sub').click(function(){
        if($("#select").val() == -1){
            alert("请选择申请的项目！")
        }else if(!verify()){
            alert("请将资料填写完整！")
        }else{
            $.post('/poverty/saveInformation',
                {
                    "id":informationId,
                    "personId":personId,
                    "createTime":createTime,
                    "projectTitle":$('#projectTitle').val(),
                    "projectContent":$('#projectContent').val(),
                    "projectId":$('#select').val(),
                    "outlay":$("#outlay").val(),
                    "startTime":$("#startTime").val(),
                    "endTime":$("#endTime").val(),
                    "otherProof":otherPath,
                    "otherProofName":otherName,
                    "projectApplication":applicationPath,
                    "projectApplicationName":applicationName
                },function(status){
                    if(status == "success"){
                        alert("保存成功！")
                        window.location.href="/poverty/manage"
                    }else{
                        alert("网络错误！请稍后再试");
                    }
                });
        }
    });

    //下载模板
    $('#downloadTemplate').click(function(){
        if($("#select").val() == -1){
            alert("请选择申请的项目！")
        }else
        {
            window.location.href="/poverty/downloadTemplate?id="+$("#select").val()
        }
    });

    //处理格式
    function timestampToTime(timestamp) {
        var date = new Date(timestamp );//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        Y = date.getFullYear() + '-';
        M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
        D = date.getDate();
        h = date.getHours() + ':';
        m = date.getMinutes() + ':';
        s = date.getSeconds();
        return Y+M+D;
    }
</script>
</body>
</html>