<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="utf-8">
	<title>项目须知</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>

<div class="panel panel-default" style="width: 50%;margin:auto;margin-top: 50px;">
	<div class="panel-heading">
		<h1 class="panel-title" style=" text-align: center;">
			先建后补项目须知
		</h1>
	</div>
	<div class="panel-body" >

		 <p style="line-height:200%;margin:20px;letter-spacing:6px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容
		面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容
		面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容
		面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容
		面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容
		面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容
		面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容
		面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容
		面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容
		面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容
		面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容面板内容</p>

	</div>
	 <div class="panel-footer" style=" text-align: center;">
	 	<button id="readOK" type="button" class="btn btn-info">我已阅读</button>
	 <div class="tishi" style="color: red;">

	 </div>
	 </div>
</div>
<script>




	$("#readOK").click(function () {
			$.post("/poverty/informationOk",{},function (result) {
				if(result != null){
					window.location.href = "/poverty/user"
				}

			})

	})
</script>
</body>
</html>
