.article-container {
	width: 90%;
	max-width: 1000px;
	background-size:100%;
	margin-bottom: 20px;
	padding-top: 10px;
	overflow: hidden;
	margin: 0 auto;
}

.article-container span{
	font-size: 15px;
}
.article-container div{
	line-height: 25px;

}
.b_title{
	font-size: 24px;
	text-align:left;
	width: 100%;
}
.b_html{
	font-size: 15px;
	width: 100%;
	text-align: left;
}
.b_time{
	margin: 15px 0 15px 20px;
	color: #a5a5a5;
	font-size: 14px;

}