<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzmusxxy.mapper.XjhbInformationMapper">
  <resultMap id="BaseResultMap" type="com.gzmusxxy.entity.XjhbInformation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="outlay" jdbcType="DOUBLE" property="outlay" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="one_card_solution" jdbcType="VARCHAR" property="oneCardSolution" />
    <result column="proof_material" jdbcType="VARCHAR" property="proofMaterial" />
    <result column="other_proof" jdbcType="VARCHAR" property="otherProof" />
    <result column="project_application" jdbcType="VARCHAR" property="projectApplication" />
    <result column="person_id" jdbcType="INTEGER" property="personId" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from xjhb_information
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gzmusxxy.entity.XjhbInformation">
    insert into xjhb_information (id, name, outlay, 
      start_time, end_time, one_card_solution, 
      proof_material, other_proof, project_application, 
      person_id, create_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{outlay,jdbcType=DOUBLE}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{oneCardSolution,jdbcType=VARCHAR}, 
      #{proofMaterial,jdbcType=VARCHAR}, #{otherProof,jdbcType=VARCHAR}, #{projectApplication,jdbcType=VARCHAR}, 
      #{personId,jdbcType=INTEGER}, #{createTime,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.gzmusxxy.entity.XjhbInformation">
    update xjhb_information
    set name = #{name,jdbcType=VARCHAR},
      outlay = #{outlay,jdbcType=DOUBLE},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      one_card_solution = #{oneCardSolution,jdbcType=VARCHAR},
      proof_material = #{proofMaterial,jdbcType=VARCHAR},
      other_proof = #{otherProof,jdbcType=VARCHAR},
      project_application = #{projectApplication,jdbcType=VARCHAR},
      person_id = #{personId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, outlay, start_time, end_time, one_card_solution, proof_material, 
    other_proof, project_application, person_id, create_time
    from xjhb_information
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, outlay, start_time, end_time, one_card_solution, proof_material, 
    other_proof, project_application, person_id, create_time
    from xjhb_information
  </select>
</mapper>