<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzmusxxy.mapper.XjhbProjectMapper">
  <resultMap id="BaseResultMap" type="com.gzmusxxy.entity.XjhbProject">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="application_template_name" jdbcType="VARCHAR" property="applicationTemplateName" />
    <result column="application_template" jdbcType="VARCHAR" property="applicationTemplate" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="period" jdbcType="INTEGER" property="period" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from xjhb_project
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gzmusxxy.entity.XjhbProject">
    insert into xjhb_project (id, project_name, application_template_name, 
      application_template, start_time, end_time, 
      period)
    values (#{id,jdbcType=INTEGER}, #{projectName,jdbcType=VARCHAR}, #{applicationTemplateName,jdbcType=VARCHAR}, 
      #{applicationTemplate,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{period,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.gzmusxxy.entity.XjhbProject">
    update xjhb_project
    set project_name = #{projectName,jdbcType=VARCHAR},
      application_template_name = #{applicationTemplateName,jdbcType=VARCHAR},
      application_template = #{applicationTemplate,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      period = #{period,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, project_name, application_template_name, application_template, start_time, 
    end_time, period
    from xjhb_project
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectEffective" resultMap="BaseResultMap">
    select id, project_name, application_template_name, application_template, start_time,
    end_time, period
    from xjhb_project
    where end_time >= now() and now() >= start_time
    order by id desc
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, project_name, application_template_name, application_template, start_time, 
    end_time, period
    from xjhb_project
  </select>
  <select id="selectProjectByNameLike" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, project_name, application_template_name, application_template, start_time,
    end_time, period
    from xjhb_project
    where project_name like #{name}
  </select>
</mapper>