<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzmusxxy.mapper.YlGuaranteeMapper">
  <resultMap id="BaseResultMap" type="com.gzmusxxy.entity.YlGuarantee">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="person_id" jdbcType="INTEGER" property="personId" />
    <result column="pay_cost" jdbcType="TINYINT" property="payCost" />
    <result column="data_zip" jdbcType="VARCHAR" property="dataZip" />
    <result column="card" jdbcType="VARCHAR" property="card" />
    <result column="application_time" jdbcType="TIMESTAMP" property="applicationTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yl_guarantee
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gzmusxxy.entity.YlGuarantee">
    insert into yl_guarantee (id, person_id, pay_cost, 
      data_zip, card, application_time, 
      remark, status)
    values (#{id,jdbcType=INTEGER}, #{personId,jdbcType=INTEGER}, #{payCost,jdbcType=TINYINT}, 
      #{dataZip,jdbcType=VARCHAR}, #{card,jdbcType=VARCHAR}, #{applicationTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.gzmusxxy.entity.YlGuarantee">
    update yl_guarantee
    set person_id = #{personId,jdbcType=INTEGER},
      pay_cost = #{payCost,jdbcType=TINYINT},
      data_zip = #{dataZip,jdbcType=VARCHAR},
      card = #{card,jdbcType=VARCHAR},
      application_time = #{applicationTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, person_id, pay_cost, data_zip, card, application_time, remark, status
    from yl_guarantee
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, person_id, pay_cost, data_zip, card, application_time, remark, status
    from yl_guarantee
  </select>
</mapper>