<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzmusxxy.mapper.ZfTemplateMapper">
  <resultMap id="BaseResultMap" type="com.gzmusxxy.entity.ZfTemplate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="template_name" jdbcType="VARCHAR" property="templateName" />
    <result column="template_path" jdbcType="VARCHAR" property="templatePath" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zf_template
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gzmusxxy.entity.ZfTemplate">
    insert into zf_template (id, name, template_name, 
      template_path, create_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{templateName,jdbcType=VARCHAR}, 
      #{templatePath,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.gzmusxxy.entity.ZfTemplate">
    update zf_template
    set name = #{name,jdbcType=VARCHAR},
      template_name = #{templateName,jdbcType=VARCHAR},
      template_path = #{templatePath,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, template_name, template_path, create_time
    from zf_template
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, template_name, template_path, create_time
    from zf_template
  </select>
  <select id="selectByNameLike" resultMap="BaseResultMap">
    select id, name, template_name, template_path, create_time
    from zf_template
    where name like #{name}
  </select>
</mapper>