<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
        <title>供销交流平台</title>
        <!-- 引入 FrozenUI -->
        <link rel="stylesheet" th:href="@{/market/css/frozen.css}"/>
        <link rel="stylesheet" th:href="@{/market/css/index.css}"/>
        <link rel="stylesheet" th:href="@{/market/css/font-awesome.min.css}"/>
        <script type="text/javascript" th:src="@{/market/js/jquery.js}"></script>
        <script type="text/javascript" th:src="@{/market/js/common.js}"></script>
        <script type="text/javascript" th:src="@{/market/js/index.js}"></script>
    </head>
    <body>
        <!-- <header class="ui-header ui-header-positive ui-border-b">
            <i class="ui-icon-return" onclick="history.back()"></i><h1>基础样式 </h1><button class="ui-btn">回首页</button>
        </header> -->
        <section class="ui-container">
		<div class="ui-tab ">
		    <ul class="ui-tab-nav ui-border-b item">
		        <li class="current "  type="1"><span>商品</span></li>
		        <li  type="2"><span>需求</span></li>
		    </ul>
		    <div class="ui-tab-content" style="width:100%;position:absolute;">
		    	<section class="ui-list ui-list-pure ui-border-b" style="background-color:#F2F2F2;" id="showSection">

		    	</section>
		    </div>
		</div>
        </section>
        <footer class="ui-footer ui-footer-btn">
            <ul class="ui-tiled ui-border-t">
                <li class="ui-border-r" ><a href="/supply"><div>首页</div></a></li>
                <li class="ui-border-r" ><a href="/supply/addNeed"><div style="color:#777777">发布需求</div></a></li>
                <li class="ui-border-r"><a href="/supply/my"><div style="color:#777777">我的</div></a></li>
            </ul>
        </footer>
    </body>
</html>
