<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
        <title>供销交流平台</title>
		<!-- 引入 FrozenUI -->
		<link rel="stylesheet" th:href="@{/market/css/frozen.css}"/>
		<link rel="stylesheet" th:href="@{/market/css/font-awesome.min.css}"/>
		<script type="text/javascript" th:src="@{/market/js/jquery.js}"></script>
		<script type="text/javascript" th:src="@{/market/js/common.js}"></script>
    </head>
    <body>
		<div style="height:45px;width:100%;background-color:#18b4ed">
		 <span class="fa fa-angle-left" onclick="back()" style="float:left;font-size:30px;line-height:45px;margin-left:10px;color:white"></span>
		<center>
		<h1 style="line-height:45px;color:white;display:inline" >内容详情</h1>
		</center>
		</div>
	    <section class="ui-container">

	       <div style="margin:10px 0 0 0;background-color:#fff;padding:10px 10px;min-height:100px;" th:text="${industryNeed.content}">
		   </div>
		   <div style="margin:10px 10px;">
		   <th:block th:if="${industryNeed.file} != ''">
			   <center>
				   <img th:src="'/preview/'+${industryNeed.file}" style="width:100%;" ><br>
			   </center>
		   </th:block>
			   <span >类型:
				   <th:block th:if="${industryNeed.type  == 1}" th:text="商品"></th:block>
				   <th:block th:if="${industryNeed.type != 1}" th:text="需求"></th:block>
			   </span>
			   <span th:text="'发布于:'+${#dates.format(industryNeed.date,'yyyy-MM-dd HH:mm:ss')}"></span>
			   <span style="float:right" th:text="'阅读量:'+${industryNeed.commentNum}"></span>
		   </div>
        <!-- </ul> -->
       </section>
    </body>
    <script type="text/javascript">
    	function back(){
			window.location.href = "/supply";
		}
    </script>
</html>