<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>住房保障 - 危改申请</title>
    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="col-sm-12">
        <h3>住房保障 - 危改申请</h3>
        <!--分割线-->
        <div class="decoration"></div>
        <div class="full-width">
            <h4 class="shadow">危改申请信息填写</h4>
            <p class="shadow">请打包3张及以上的房屋照片为压缩包后再上传！</p>
            <p class="shadow">在提交申请表之前，请检查你的信息是否完整，不可有错误信息！</p>
        </div>
        <!--分割线-->
        <div class="decoration"></div>
        <!--表单-->
        <div class="form">
            <form class="form-horizontal" id="form">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">姓名：</label>
                    <div class="col-sm-10">
                        <input type="text" name="name" class="form-control" id="name"  th:value="${user.name}" placeholder="填写姓名" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="identity" class="col-sm-2 control-label">身份证号：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="identity" th:value="${user.identity}" placeholder="身份证号码" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="telphone" class="col-sm-2 control-label">联系电话：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="telphone" th:value="${user.telphone}" placeholder="联系电话" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="template" class="col-sm-2 control-label">下载申请表：</label>
                    <div class="col-sm-10">
                        <select id="template" name="template" class="form-control" onchange="downTemplate()">
                            <option selected="selected" disabled="disabled">-- 请选择 --</option>
                            <!--设置下拉菜单-->
                            <option th:each="list:${template}" th:value="${list.id}" th:text="${list.name==''?list.templateName:list.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="templateFile" class="col-sm-2 control-label">申请书：</label>
                    <div class="col-sm-10">
                        <div class="file-container"
                             style="display:inline-block;position:relative;overflow: hidden;vertical-align:middle">
                            <button class="btn btn-success fileinput-button form-control" type="button">上传已填写的申请表</button>
                            <input style="position:absolute;top:0;left:0;font-size:34px; opacity:0" type="file"
                                   name="templateFile" id="templateFile" onchange="saveFile(this)">
                        </div>&nbsp;&nbsp;
                        <span id="templateFileName" style="vertical-align: middle">未上传文件</span>
                        <a href="" class="hidden" id="fileA"><img th:src="@{/assets/img/sf/cloud-down.svg}" width="26"
                                                                   height="20"></a>
                    </div>
                </div>
                <div class="form-group">
                    <label for="photoFile" class="col-sm-2 control-label">房屋照片：</label>
                    <div class="col-sm-10">
                        <div class="file-container"
                             style="display:inline-block;position:relative;overflow: hidden;vertical-align:middle">
                            <button class="btn btn-success fileinput-button form-control" type="button">上传房屋照片(3张)</button>
                            <input style="position:absolute;top:0;left:0;font-size:34px; opacity:0" type="file"
                                   name="photoFile" id="photoFile" onchange="saveFile(this)">
                        </div>&nbsp;&nbsp;
                        <span id="photoFileName" style="vertical-align: middle">未上传文件</span>
                        <a href="#" class="hidden" id="fileB"><img th:src="@{/assets/img/sf/cloud-down.svg}" width="26"
                                                                   height="20"></a>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" id="submit" class="btn btn-info" style="width: 100%;">更新资料</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:inline="javascript">
    $(function () {
        //设置基本数据
        if([[${info.templatePath}]] != '' && [[${info.templatePath}]] != null){
            $("#fileA").removeClass('hidden');
            $("#fileA").attr("href","/house/downloadFile?path=" + [[${info.templatePath}]] + "&name=我的申请表" + [[${#strings.substring(info.templatePath,#strings.indexOf(info.templatePath,'.'))}]]);
            $("#templateFileName").text("已上传");
        }
        if([[${info.housePhotosPath}]] != '' && [[${info.housePhotosPath}]] != null){
            $("#fileB").removeClass('hidden');
            $("#fileB").attr("href","/house/downloadFile?path=" + [[${info.housePhotosPath}]] + "&name=我上传的房屋照片" + [[${#strings.substring(info.housePhotosPath,#strings.indexOf(info.housePhotosPath,'.'))}]]);
            $("#photoFileName").text("已上传");
        }
        $("#template").val([[${info.templateId}]]);
    });
</script>
<script th:inline="javascript">
    //申请表文件信息
    var templatePath = null;
    var templateName = null;
    //房屋照片
    var photoPath = null;
    var photoName = null;

    function downTemplate(){
        var templateId = $("#template").find("option:selected").val();
        window.location.href="/house/download?id="+templateId;
    }
    $(function () {
        //提交按钮的点击事件
        $("#submit").click(function () {
            //先获取数据
            var template = $("#templateFile").val();
            var photo = $("#photoFile").val();
            var templateId = $("#template").find("option:selected").val();
            //表单验证
            // if (template == null || template ==""){
            //     alert("必须上传申请表！");
            //     return false;
            // }
            // if(photo == null || photo ==""){
            //     alert("必须上传房屋照片！");
            //     return false;
            // }
            if(templateId == null || templateId ==""){
                alert("必须选择申请表模板！");
                return false;
            }
            var param = {
                "id":[[${info.id}]] ,
                "templateId":templateId,
                "template": templatePath,
                "photo": photoPath,
            }
            $.post("/house/postUpdateInfo",param,function(data){
                if(data.code == 1){
                    alert("信息提交成功！");
                    window.location.href = "/house/myApply?pageNumber=1"
                }else{
                    alert("信息提交失败！");
                }
            },"json");
            return false;
        });
    });
    //保存文件
    function saveFile(obj) {
        var data = new FormData();
        //上传的是申请表
        if(obj.id == 'templateFile'){
            data.append('path', templatePath);
            templateName = obj.files[0].name;
            $("#templateFileName").text(templateName);
            //添加单击事件
            $('#fileA').click(function () {
                window.location.href = "/house/downloadFile?path=" + templatePath + "&name=" + templateName;
            });
            //如果是隐藏则取消隐藏
            if ($('#fileA').hasClass('hidden')) {
                $('#fileA').removeClass('hidden');
            }
        }else{
            data.append('path',photoPath);
            photoName= obj.files[0].name;
            $("#photoFileName").text(photoName);
            //添加单击事件
            $('#fileB').click(function(){
                window.location.href="/house/downloadFile?path=" + photoPath + "&name=" + photoName;
            });
            //如果是隐藏则取消隐藏
            if($('#fileB').hasClass('hidden')){
                $('#fileB').removeClass('hidden');
            }
        }

        data.append('file', obj.files[0]);
        //切割类型
        var extStart = obj.value.lastIndexOf('.');
        var ext = obj.value.substring(extStart, obj.value.length);
        data.append('type', ext);
        $.ajax({
            url: '/house/upload',
            type: 'POST',
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            success: function (result) {
                if(obj.id == 'templateFile'){
                    templatePath = result;
                }else{
                    photoPath = result;
                }
                alert("上传成功！");
            },
            error: function (result) {
                alert("上传失败！");
            }
        });
    }
</script>
</body>
</html>
